<div class="">
    <div class="list-group shadow-sm">

        <a href="#" class="list-group-item list-group-item-action news-box">1 - البرلمان يصوت على قانون
            الموازنة</a>

        <a [routerLink]="['/news', 1]" class="list-group-item list-group-item-action news-box">
            1 - البرلمان يصوت على قانون الموازنة
        </a>



        <a href="#" class="list-group-item list-group-item-action news-box">2 - انخفاض درجات الحرارة في
            عموم العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">3 - رئيس الوزراء يلتقي وفد
            الأمم المتحدة</a>
        <a href="#" class="list-group-item list-group-item-action news-box">4 - وزارة التعليم تحدد موعد بدء
            الدوام الرسمي</a>
        <a href="#" class="list-group-item list-group-item-action news-box">5 - الأمن الوطني يعلن اعتقال
            خلية إرهابية</a>
        <a href="#" class="list-group-item list-group-item-action news-box">6 - انطلاق معرض بغداد الدولي
            للكتاب</a>
        <a href="#" class="list-group-item list-group-item-action news-box">7 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">8 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">9 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">10 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">11 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">12 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">13 - الاثائر الجديدة عن حرب
            العراق</a>

        <a href="#" class="list-group-item list-group-item-action news-box">14 - الاثائر الجديدة عن حرب
            العراق</a>
        <a href="#" class="list-group-item list-group-item-action news-box">15 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">16 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">17 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">18 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">19 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">20 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">21 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">22 - الاثائر الجديدة عن حرب
            العراق</a><a href="#" class="list-group-item list-group-item-action news-box">23 - الاثائر الجديدة عن حرب
            العراق</a> <a href="#" class="list-group-item list-group-item-action news-box">24 - الاثائر الجديدة عن حرب
            العراق</a>
        <a [routerLink]="['/news', 1]" class="list-group-item list-group-item-action news-box">25 - الاثائر الجديدة عن
            حرب
            العراق</a>
    </div>
</div>