.logo-img,
.banner-img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-img,
  .logo-img {
    height: 10rem;
  }
}

@media (max-width: 767px) {
  .banner-img {
    height: 5rem;
  }
}
