.highlight-box {
  background: linear-gradient(to left, #fffde7, #fff9c4);
}

.highlight-title {
  color: #d84315;
  font-weight: bold;
}

.news-title {
  font-weight: bold;
  font-size: 1.1rem;
}
img {
  height: 100px;
  object-fit: cover;
  width: 100%;
  display: block;
}
