<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/earth.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>
<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/banner4.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>
<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/logo.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>
<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/earth.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>
<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/earth.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>
<div class="border p-2 mb-3 shadow-sm rounded highlight-box">
    <img src="./images/earth.jpg" class="img-fluid rounded mb-2" alt="خبر عاجل">
    <p class="news-title mb-1 highlight-title">هجوم صاروخي من بغداد</p>
    <a href="#" class="btn btn-sm btn-outline-danger">اقرأ التفاصيل</a>
</div>